<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_ISimpleService" />
      </wsDualHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/" binding="wsDualHttpBinding"
          bindingConfiguration="WSDualHttpBinding_ISimpleService" contract="Service.ISimpleService"
          name="WSDualHttpBinding_ISimpleService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>